asgiref==3.6.0
click==8.1.3
colorama==0.4.6
Django==4.2

dlib
face-recognition==1.3.0
face-recognition-models==0.3.0
imageio==2.28.1
lazy_loader==0.2
networkx==3.1
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
PyWavelets==1.4.1
scikit-image==0.20.0
scipy
sqlparse==0.4.4
tifffile==2023.4.12
tzdata==2023.3
matplotlib
scikit-learn
seaborn
dvc
dvc-s3


